@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  margin: 0;
  /* font-family: 'Quicksand' -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Quicksand', sans-serif !important;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: larger;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-expand-lg {
  background-color: #5f38ff !important;
}

.navbar-brand {
  font-size: 1.3em;
  font-weight: 700;
}

.nav-link {
  font-size: 1.2em;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #5f38ff !important;
}

.googleBtn {
  background-color: #eee;
}

.googleBtn:hover {
  background-color: #fff;
}
